<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.css @ categories=['test.container-v2']}"/>
<div data-sly-use.model="com.encora.test.core.models.HelloWorldModel" @ category=${properties.category}, count=${properties.count}>
    <span>Products List Container</span><br><br>
    <div class="flex-container">
        <sly data-sly-test=${model.productlist} data-sly-list.apidata="${model.productlist}">
            <div class="flex-item item-no-${apidata.id}">
                <img class="product-image" src="${apidata.image}">
                <span>${apidata.title}</span><br>
                <span>&#36 ${apidata.price}</span>
                <p class="product-description">${apidata.description}</p>
                <button>Buy Now</button>
            </div>
        </sly>
    </div>
</div>
